*{
    border: solid black 1px;
    border-width: thin;
}
header, footer{
    width: 100%;
}
section{
    width: 62%;
}
aside{
    width: 38%;
}
nav{
    width: 50%;
}
article{
    border: dotted red;
    border-width: thin;
}
