/*#region---ROOT---*/
:root{
    --bg-color-primary: #23272b;
    --bg-color-secondary: #EBEBEB;
    --bg-color-tertiary: #b3b9f5;
}
/*#endregion*/



/*#region---CORE---*/
*{
    background-color: var(--bg-color-primary);
    color: var(--bg-color-secondary);
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header"
    "navigation"
    "main"
    "footer"
    ;
}
/*#endregion*/
/*#region---HEADER---*/
header{
    grid-area: header;
    display: flex;
    justify-content: center;
}
/*#endregion*/
/*#region---NAVIGATION---*/
header nav > *{
    grid-area: navigation;
    display: flex;
    justify-content: center;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    margin: 5rem;
    gap: 35px;
}
nav ul li{
    padding-top: 2px;
}
nav ul li a{
    font-size: larger;
    transition: 0.6s color;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}
nav ul li a:hover{
    color: var(--bg-color-tertiary);
}
.logo{
    position: absolute;
    left: 0;
    top: 0;
    border: none;
}
/*#endregion*/
/*#region---MAIN---*/
main{
    grid-area: main;
}
/*#endregion*/
/*#region---FOOTER---*/
footer{
    gap: 12rem;
    display: flex;
    grid-area: footer;
    color: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.footer{
    color: #EBEBEB;
}
/*#endregion*/
/*#region---COMMON---*/
h1,h2,h3,h4,h5,h6{
    color: var(--bg-color-tertiary);
    text-transform: uppercase;
}
img{
    border: var(--bg-color-tertiary) solid 5px;
}
.no-border{
    border: none;
}
/*#endregion*/
/*#region---DETAIL---*/


/*#endregion*/
/*#region---KEYFRAMES---*/

/*#endregion*/



/*#region---HOME---*/




/*#endregion*/
/*#region---OVERZICHT---*/
#hobby{
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    padding: 25px;
}
.hoverpallet{
    opacity: 0.3;
    transition: 0.5s ease;
}
.hoverpallet:hover{
    opacity: 1;
}
#hobby #center-order{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width:900px;
    min-width:600px;
}
#hobby p{
    padding: 0px 0px 25px 0px;
}
/*#endregion*/
/*#region--CONTACT---*/
#contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    padding: 25px;
}
#contact fieldset{
    padding-bottom: 1.5rem;
}
#contact section{
    /*border: #EBEBEB solid 1px;*/
    justify-content: space-around;
}
#contact label{
    display: inline-block;
    width: 15%;
    text-align: left;
    text-transform: capitalize;
    color: var(--bg-color-secondary);
    padding: 0.5rem;
    margin: 0.5rem;
}
.textlabel{
    vertical-align: middle;
}
#contact #details label{
    width: 10%;
}
#contact span{
    color:var(--bg-color-tertiary);
    text-transform: capitalize;
}
#contact legend{
    color: var(--bg-color-tertiary);
    text-transform: uppercase;
    padding: 2rem 4rem 2rem 4rem;
}
#contact input{
    border-radius: 5px;
    color: var(--bg-color-primary);
    background-color: var(--bg-color-secondary);
    width: 70%;
    font-size: 0.9rem;
    padding: 0.6rem 0.1rem 0.1rem 0.1rem;
}
#contact textarea{
    vertical-align: top;
    border-radius: 5px;
    color: var(--bg-color-primary);
    position: relative;
    background-color: var(--bg-color-secondary);
    width: 70%;
    font-size: 0.9rem;
    padding: 0.1rem;
    margin-top: 0.5rem;
    resize: none;
}
#contact address{
    display: block;
    font-style: italic;
}

#contact iframe{
    border: #b3b9f5 solid 5px;
}
#contact .send{
    position: relative;
    left: 45%;
    top: 2rem;
    width: 10rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: solid var(--bg-color-tertiary) 2px;
    padding: 0.5rem 0;
    transition: 2.5 ease;
}
#contact a{
    transition: 0.6s color;
}
#contact a:hover{
    color: var(--bg-color-tertiary);
}
#contact .send{
    transition: 0.6s;
}
#contact .send:hover{
    border: solid var(--bg-color-secondary) 2px;
    background-color: var(--bg-color-tertiary);
    font-weight: bold;
    text-decoration: underline;
}
/*#endregion*/
/*#region--ORIGINE---*/



/*#endregion*/



/*#region---LIKEBOX---*/
.like-container{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.like-button{
    border: none;
    opacity: 0.6;
}
.like{
    width: 25;
    height: 25px;
    border: none;
}
.like:hover{
    filter: invert(100%) sepia(6%) saturate(596%) hue-rotate(310deg) brightness(116%) contrast(84%);
}

/*#endregion*/